@import "variables";

.filter__container{
    width: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    text-align: left;
    text-transform: uppercase;
    background:  #fff;
}

.filter-title{
    font-size: 1.6rem;
    padding: 10px; 
    text-transform: uppercase;
}

.accordion{
    border: none;
    font-size: 1.3rem;
    line-height: 3rem;
    padding: 10px;
    margin-left: -30px;
}

.accordion {
    border-radius: 5px;
}


.accordion .accordion-item .title {
    text-transform: uppercase;
    background-color: #fff;
}

.accordion .accordion-item.active .title {
    background-color: #fff;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.7rem;
}

.accordion .accordion-item .title {
    cursor: pointer;
    padding: 10px 30px 0px 30px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion .accordion-item .title:after {
    content: '+';
    font-size: 1.7rem;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion .accordion-item.active .title:after {
    content: '-';
    font-weight: bold;
}

.filter-item{
    margin-left: 30px;
}


input[type=checkbox] {
    position: relative;
    cursor: pointer;
    margin: 0 10px 0 0;
}

input[type=checkbox]:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: 1px solid #555555;
    background-color: #fff;
    vertical-align: middle;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 10%;
    height: 0px;
    padding: 6px;
    background-color: rgb(8, 7, 7);
    position: absolute;
    top: 4px;
    left: 4px;
}


.filter-name, .value{
    padding-left: 5px;
}


.filter-pricerange{

    justify-content: space-around;
    width: 100%;
}

.price-range__item1, .price-range__item2{
    margin: 5px;
    width: 100%;

}

.filter-input{
    width: 100%;
    border: 2px solid #cecece;
    display: table-cell;
    border-color: #cecece;
}

input.filter-input{
    width: 100%;
    border-color: #cecece;
}

input.filter-input:focus{
   border-radius: 1px;
   background-color: #fff;
} 


.filter-dropdown{
    width: 90%;
    text-transform:capitalize;
    padding-bottom: 100px;
    border: 2px solid #cecece;
    display: table-cell;
    padding: 8px 12px;
    border-color: #cecece;
    outline: none;
}


.filter-dropdown:focus{
    transition: all 2s;
    border-radius: 1px;
    background-color: #fff;
 } 
 


.btn-price{
    width: 100%;
    margin-top: 10px;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    padding: 12px;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    outline: none;
}



.sort_item{
    font-size: 1.6rem;
    padding: 10px;
    margin-top: 15px;
    font-weight: bold;
}
