@import "variables";

.footer__container{
    width: 100%;
    min-height: 70vh;
    left: 0px;
    top: 0px;
    font-weight: 400;
    color: $main-color-text;
    display: flex;
    flex-direction: row;
    padding: 40px 0px 60px 0px;
    margin-top: -35px;
}

.footer-content {
    width: 35%;
    font-size: 1rem;
    line-height: 3rem;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;  
}

.Footer-title {
    font-weight: bold;
    font-size: 1.5rem; 
    margin-bottom: 25px;
}

.fab{
    margin-right: 10px;
}

