@import '../styles/variables.scss';
@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'), url(../fonts/HelveticaNeueLTStd-BdEx.otf) format('OpenType');
  }

.header {
    height: 50px;
    padding: 0 120px;
    p {
        color: $heading-color-text;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 1.2rem;
    }
    button {
        border: none;
    }
    form {
        padding: .2rem;
        &:hover { 
            border: 1px solid white; 
            -webkit-transition: all 0.3s linear;
            transition: all 0.3s linear;
        }
    }
    input {
        border: none;
    }
    label {
        color: $heading-color-text;
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-right: .2rem;
    }
    .logo {
        font-size: 2.5rem;
        margin-left: 50%;
        font-family: 'Helvetica';
    }
    .navbar-collapse {
        flex-grow: 0;
    }
    li {
        color: $heading-color-text;
        text-transform: uppercase;
        font-size: 1.2rem;
    }
}

.search-icon {
    height: 16px;
    width: 16px;
    margin-right: 5px;
}


