.imageboard__container{
    width: 80%;
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
    /* background: #ce8787; */
}

.imageitem1{
    width: 45%;
    min-height: 65vh;
    margin-bottom: 65px; 
    background: #EBEBEB;
    

}

