@import "variables";

.imageboard__container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
}

//min-height property will only apply to images

.imageitem1{
    width: 45%;
    min-height: 650px;
    margin-bottom: 65px; 
    background: #EBEBEB;
    

}

