@import "variables";

.imagecollection__container{
    width: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    background:#DECFA7;
}

// height property will apply only to images

.imagecollection-section__first{
    width: 35%;
    min-height: 700px;
    background:#B9C8CB;
   
}

.imagecollection-section__second{
    width: 35%;
    // min-height: 60vh;
    background:#DAB4AF;
}

.imagecollection-section__third{
    width: 35%;
    // min-height: 60vh;
    background:#D3DAE2;
}