.info-toggle {

    text-align: left;

    .accordion__button {
        position: relative;
        &::before {
            position: absolute;
            content: '\f067';
            font-size: 11px;
            font-family: 'Fontawesome';
            left: 0;
            top: 2px;
            -webkit-transition: all 0.3s linear;
            transition: all 0.3s linear;
          }
        &[aria-expanded="true"]::before {
            content: '\f068';
            transform: rotate(0deg);
        }
    }

    h4 {
        margin-left: 2rem;
    }

    p {
        font-size: 14px;
        margin-left: 2rem;
    }
}
