// Font

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'), url(../fonts/HelveticaNeueLTStd-BdEx.otf) format('OpenType');
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'), url(../fonts/HelveticaNeueLTStd25UltraLight_22508.ttf) format('OpenType');
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'), url(../fonts/HelveticaNeueLTStd45Light_22520.ttf) format('OpenType');
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'), url(../fonts/HelveticaNeueLTStd55Roman_22526.ttf) format('OpenType');
}

$font-family: 'Helvetica';
$font-size: 2.4rem;
$line-height: 2rem;
$font-size-heading: 7.6rem;

// container
$container-width: 192rem;

// colors
$main-color-text: #000F08;
$heading-color-text: #ffffff;


